<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta charSet="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"
    />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-store, must-revalidate" />
    <meta http-equiv="expires" content="0" />
</head>
<body>
  <div id="<%= context.config.mountElementId %>"></div>


</body>
</html>
<script type="text/javascript">
  function fontSize(){
      var deviceWidth=document.documentElement.clientWidth>760?760:document.documentElement.clientWidth;
      document.documentElement.style.fontSize=(deviceWidth/76) * 0.2+'px';
  }
  fontSize();
  window.onresize=fontSize;
</script>
