

.cmpt_tab_filters {

  .filter_item{

  }

  :global{
    .filter-item{
      position: relative;
      cursor: pointer;
    }
    .small_filter.active::after{
      background-image: url('../../assets/line_small.png')
    }

    .middle_filter.active::after{
      background-image: url('../../assets/line_middle.png')
    }
    .large_filter.active::after{
      background-image: url('../../assets/line_large.png')
    }
    .active::after{
      content: ' ';
      position: absolute;
      top: 50%;
      color: red;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 200%;
      width: 100%;
      opacity: 0.85;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

  }
}
