@font-face {
  font-family: 'A-font';
  src: url('./assets/ZiTiQuanXinYiGuanHeiTi2.0-2.ttf');
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;

}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}


.app-en .en-app-font{
  font-family: Montserrat PingFangSC !important;
  font-weight: 300!important;
}
