
@import "~@/const/theme.less";

.app_wrapper{
  // padding:;
  position: relative;
  width: 100%;
  .app_body{
    margin: 0 auto;
    width: 1200px;
    padding: 89 * @px_base 120 * @px_base 0;
    // height: 10000px;
  }
}
